# ----------------- dependencies & tests -----------------
node_modules
coverage/
tests/
*.test.js
docs/
examples/

# ----------------- logs -----------------
npm-debug.log*
*.log
*.out

# ----------------- local secrets -----------------
.env
.npmrc
.env.*

# ----------------- IDE artefacts -----------------
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# ----------------- git -----------------
.git/
.gitignore

# ----------------- build artefacts -----------------
dist/
build/


load_domains.js
by.js
